body {
  font-family: 'Segoe UI', sans-serif;
  background: url("../Alam.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  background: rgba(255, 255, 255, 0.9); /* transparan putih 90% */
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input, textarea {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #0078d7;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

#status {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}
